@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@400;600&display=swap');

:root {
  /**
    Colors
  */

  --tardis-blue: #003b6f;
  --color-text: white;
  --color-background: var(--tardis-blue);
  --color-light: silver;
  --color-primary: #7950f2;
  --color-orange: #FFA62B;

  /**
    Spacing and units
  */
  --unit: 1rem;
  --container-width: 600px;

  /**
    Fonts
  */
  --font-family-sans-serif:
    "Oswald",
    sans-serif;
}
